# --- Пакеты (восстанавливаются сами) ---
elpa/
elpaca/
eln-cache/

# --- Кэш / runtime ---
.cache/
tmp/
auto-save-list/
eaf/
dirvish/
games/
tutorial/
url/

# --- Личное / сессии (не конфиг) ---
bookmarks
projects
tramp
projectile-bookmarks.eld
.mc-lists.el
.projectile
.lsp-session-v1
recentf
.clang-format
.clang-tidy
.DS_Store/

# --- Скрытые мусорные файлы ---
*~
\#*\#
.\#*

# --- Other ---
.mc-lists.el
.projectile
bookmarks
projectile-bookmarks.eld
projects
recentf
tramp
